<%= render :partial => 'form' %>

<div id="map-canvas">

</div>


<div class="list_of_todo_items">
	<h2> All things to do: </h2>
	<% @todo_items.each do |todo_item| %>
		<%= render todo_item %>
	<% end %>
</div>



