

<div id="map-canvas">
</div>

<div class="destinations">
	<% @destinations.each do |destination| %>
		<%= render destination %>
	<% end %> 
</div>

<div class="todo_items">
	<% @destinations.each do |destination| %>
			<% destination.todo_items.each do |todo_item| %>
				<div class="hide-me" data-item-id="<%= destination.id %>">
					<%= render :partial => 'todo_items/todo_item', :locals => {:todo_item => todo_item } %>
				</div>
			<% end %>
	<% end %> 
</div>





