// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.destinations {
	float: left;
	border: 1px solid red;
}

.destination {
	border: 2px solid rgb(211, 204, 188);
	margin: 5px;
	width: 200px;
	height: 200px;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

.hide-me {
	display: none;
}
