// Place all the styles related to the destinations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.destinations {
	float: left;
}

.destination {
	border: 2px solid rgb(211, 204, 188);
	margin: 5px;
	width: 200px;
	height: 200px;
	padding: 5px;
	background-color: white;
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

.hide-me {
	display: none;
}

.search-box {
	background-color: rgb(188, 174, 206);
	border-radius: 5px;
	text-align: center;
	width: 270px;
	height: 70px;
	float: left;
	border: 2px solid #d3ccbc;
}

.sort-selector-box {
	background-color: #bcaece;;
	border-radius: 5px;
	text-align: center;
	width: 165px;
	height: 70px;
	float: left;
	border: 2px solid #d3ccbc;
	margin-left: 5px;
}

#todo-search {
	width: 200px;
}

.todo-menu {
	width: 450px;
	background-color: rgb(93, 103, 111);
	float: left;
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
	border: 2px solid #d3ccbc;
}

