// Place all the styles related to the TodoItems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo_items {
	border: 2px solid red;
}

.list_of_todo_items {
	clear: both;
}

.todo-item {
	border: 2px solid rgb(211, 204, 188);
	margin: 5px;
	width: 200px;
	padding: 5px;
	background-color: rgb(235, 227, 227);
	border-radius: 5px;
	text-align: center;
	font-size: 18px;
}

.todo-item a {
	text-decoration: none;
}

.new-todo-item {
	background-color: rgb(189, 211, 189);
	display: block;
	width: 400px;
	left: auto;
	right: auto;
	margin-left: auto;
	margin-right: auto;
	float: left;
}

.completed {
	background-color: rgb(157, 184, 157);
}

#map-canvas {
	border: 2px solid rgb(167, 180, 143);
	border-radius: 2px;
	float: right;
	width: 400px;
	height: 400px;
	margin-right: 20px;
}